@import url("/css/Components/header.css");
@import url("/css/Components/section-1.css");
@import url("/css/Components/section-2.css");
@import url("/css/Components/section-3.css");
@import url("/css/Components/section-4.css");
@import url("/css/Components/section-5.css");
@import url("/css/Components/section-6.css");
@import url("/css/Components/section-7.css");
@import url("/css/Components/footer.css");
@import url("/css/Components/panel.css");


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


.page {
  font-family: 'Open Sans', sans-serif;
  margin: auto;
}

.restrictionWide {
  max-width: 1200px;
  margin:auto;
}

.freePik {
  font-size: 20px;
  margin:31px 0 0;
  color:#db545a;
  font-weight: 600;
}

.freePik__link {
  text-decoration: underline;
  text-underline-position:under;
  text-underline: #db545a;
  color:inherit;
}

.freePik_black {
  font-size: 16px;
  line-height: calc(16px * 1.6);
  color: black;
  font-weight: normal;
}

.freePik_white {
  font-size: 16px;
  color: white;
  text-align: center;
  margin-top: 23px;
  font-weight: normal;
}

.freePik_section-7 {
  margin:39px 0 0;
}

