.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto 0;
  height:80px;
  padding:0 30px 0;
  justify-content: space-between;
}

.navigation {
  display: flex;
  width: 301px;
  height:36px;
  justify-content: space-around;
}

.navigation__item {
  display: flex;
  align-items: center;
}

.logo {
  width: 64px;
}

.logo__image {
  width: inherit;
}

.navigation__link {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.navigation__link:active {

}

.navigation__link:hover {
  color: #db545a;
}

.navigation__link_active {
  color:#1f8de6;
}

.navigation__link_active:hover {
  color: #1f8de6;
}

.mobileNavigation {
  display: none;
}

@media screen and (max-width: 991px)  {
  .navigation {
    display: none;
  }
  .header {
    padding: 0 24px 0;
  }

  .mobileNavigation {
    display: block;
    width: 24px;
    height: 32px;
    padding: 0;
    background-color: white;
    border: none;
    object-fit: contain;
    overflow: hidden;
  }

  .mobileNavigation_image {
    box-sizing: border-box;
  }

  .mobileNavigation:focus .panel {
    display: flex;
  }

  .mobileNavigation:hover .mobileNavigation_image {
    filter: invert(43%) sepia(63%) saturate(1357%) hue-rotate(323deg) brightness(91%) contrast(88%);
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 0 18px 0;
  }
}

@media screen and (max-width: 575px) {
  .header {
    padding: 0 30px 0;
  }
}
