.section-2 {
  padding:60px 30px 60px;
}

.wrapperSection-2 {
  display:grid;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: 40% 60%;
}

.containerSection-2 {
  padding: 30px 30px 120px;
}

.containerSection-2__photocard {
  position: relative;
  background-color: #db545a;
  border-radius: 12px;
  padding:30px;
}

.containerSection-2__image {
  box-sizing: border-box;
  width: 100%;
}

.containerSection-2__imageMobile {
  display: none;
  box-sizing: border-box;
  width: 100%;
}

.containerSection-2__quote {
  color:white;
  font-size: 16px;
  margin-top:20px;
  margin-bottom:0px;
}

.containerSection-2__link {
  text-decoration: underline;
  text-underline-position:under;
}

.containerSection-2__littleHeader {
  letter-spacing: 1.5px;
  font-size: 18px;
  font-family: 'Roboto',SansSerif;
  font-weight: normal;
  margin:0;
}

.containerSection-2__header {
  color:#db545a;
  margin-top:20px;
  font-size: 36px;
  font-weight: bold;
  line-height: calc(36px * 1.1);
}

.containerSection-2__paragraph {
  font-size: 16px;
  margin-top:35px;
  line-height: calc(16px * 1.8);
}

.containerSection-2__paragraph_strong {
  font-weight: bold;
}

.buttonSection-2 {
  border-radius: 12px;
  background-color: #f1c50e;
  margin-top: 40px;
  width:231px;
  height:63px;
}

.buttonSection-2:hover {
  background-color: #db545a;
}

.buttonSection-2__link {
  width: inherit;
  height: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 3px;
  color:#db545a;
}

.buttonSection-2__link:hover {
  color: #f1c50e;
}

@media screen and (max-width: 1122px) {
  .containerSection-2 {
    padding: 30px 25px 120px;
  }
  .wrapperSection-2 {
    grid-template-columns: 50% 50%;
  }

  .containerSection-2__image {
    display: none;
  }

  .containerSection-2__imageMobile {
    display: block;
  }

  .containerSection-2__photocard {
    padding:30px 30px 40px;
  }

  .containerSection-2 {
    padding: 30px;
  }
}

@media screen and (max-width: 991px) {
  .section-2 {
    padding: 60px 24px 60px;
  }

  .containerSection-2__header {
    font-size: 35px;
  }
}

@media screen and (max-width: 767px) {
  .wrapperSection-2 {
    grid-template-columns: 100%;
  }

  .section-2 {
    padding:20px 24px;
  }
}
