.section-1 {
  padding:60px 30px 60px;
  overflow: hidden;
  position: relative;
}

.section-1__background-image {
  right:-25px;
  top:0;
  position: absolute;
  z-index: -2;
  object-fit: fill;
  height:125%;
  width:950px;
}

.wrapperSection-1 {
  display: grid;
  font-weight: bolder;
  grid-template-columns: 40% 60%;
}
.containerSection-1 {
  padding:40px;
  position: relative;
}

.containerSection-1_second {
  padding:20px 40px;
}

.containerSection-1__header {
  letter-spacing: 1px;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  margin-top:50px;
  color:#db545a;
}

.buttonSection-1 {
  border-radius: 12px;
  background-color: #f1c50e;
  margin-top: 35px;
  width:262px;
  height:54px;
}

.buttonSection-1__link {
  display: inline-flex;
  width: inherit;
  height: inherit;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  letter-spacing: 3px;
  color:#db545a;
  text-decoration: none;
}

.containerSection-1_second {
  display: flex;
  padding: 20px 40px;
  align-items: center;
}

.containerSection-1__image {
  width: 100%;
}


