.section-1 {
  padding:60px 30px 60px;
  overflow: hidden;
}

.section-1__background-image {
  height:630px;
  right:0;
  top:0;
  position: absolute;
  z-index: -2;
  object-fit: fill;
}

.wrapperSection-1 {
  display: flex;
  font-weight: bolder;
}
.containerSection-1_first {
  width: 40%;
  padding:40px;
}

.containerSection-1_second {
  width: 60%;
}

.containerSection-1__header {
  letter-spacing: 1px;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  margin-top:50px;
  color:#db545a;
}
.containerSection-1__paragraph {
  font-size: 20px;
  margin-top:31px;
  color:#db545a;
}

.containerSection-1__link {
  text-decoration: underline;
  text-underline-position:under;
  text-underline: #db545a;
  color:#db545a;
}

.buttonSection-1 {
  border-radius: 12px;
  background-color: #f1c50e;
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  width:262px;
  height:54px;
}

.buttonSection-1__link {
  font-size: 16px;
  letter-spacing: 3px;
  color:#db545a;
}

.containerSection-1_second {
  padding: 20px 40px;
}

.containerSection-1__image {
  display: block;
  width:618px;
  height:453px;
  margin-left:auto;
}
