.section-3 {
  padding:63px 30px 63px;
  background-color: #db545a;
}

.wrapperSection-3 {
  display: grid;
  position: relative;
  max-width: 1200px;
  margin:74px auto 0;
  grid-gap: 63px;
  grid-template-columns: repeat(3,1fr);
}

.section-3__header {
  font-family: 'Roboto', sans-serif;
  color: #f1c50e;
  margin:0;
  text-align: center;
  font-size: 60px;
  line-height: calc(60px * 1.1);
}

.section-3__paragraph {
  color:white;
  text-align: center;
  margin:9px 0 0;
  font-size: 20px;
  line-height: calc(20px*1.6);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  padding:0 30px 32px;
  border-radius: 15px;
}

.card__circle {
  position: absolute;
  display: flex;
  top:-24px;
  left: calc(50% - 47px);
  background-color: #f1c50e;
  border-radius: 100px;
  width:94px;
  height:94px;
  justify-content: center;
  align-items: center;
}

.card__header {
  margin: 94px 0 0;
  text-align: center;
  color: #db545a;
  font-size: 20px;
  font-family: 'Raleway',SansSerif;
  line-height: calc(20px * 1.2);
}

.card__paragraph {
  margin: 20px 0 20px;
  font-size: 18px;
  text-align: center;
  line-height: calc(18px * 1.6);
}

.card__icon {
  box-sizing: border-box;
  width: 47px;
  height: 47px;
}

.card__button {
  background-color: #f1c50e;
  margin: auto auto 0;
  border-radius: 50px;
  width: 104px;
  height: 42px;
}

.card__button:hover {
  background-color: #db545a;
}

.card__link {
  width: inherit;
  height: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 14px;
  letter-spacing: 1px;
  color:#db545a;
  text-decoration: none;
}

.card__button:hover .card__link{
  color: #f1c50e;
}

@media screen and (max-width: 991px) {
  .section-3 {
    padding: 63px 24px 63px;
  }
}

@media screen and (max-width: 962px) {
  .wrapperSection-3 {
    grid-template-columns: repeat(2,1fr);
  }

  .card__header {
    margin-top:110px
  }
}

@media screen and (max-width: 767px) {
  .section-3 {
    padding: 63px 18px 63px;
  }
}

@media screen and (max-width: 649px) {
  .card {
    padding: 0 20px 32px;
  }

  .card__paragraph {
    font-size: 16px;
    line-height: calc(16px * 1.6);
  }
}

@media screen and (max-width: 576px) {
  .wrapperSection-3 {
    grid-template-columns: 1fr;
  }

  .section-3__header {
    font-size: 36px;
    line-height: calc(36px * 1.1);
  }

  .section-3__paragraph {
    margin-top: 23px;
  }

  .wrapperSection-3 {
    margin-top: 50px;
  }
}
