.section-7 {
  position: relative;
  background-color: #db545a;
  padding:60px 30px;
  z-index: 1;
}

.section-7__rectangle {
  position: absolute;
  left: 0;
  top:180px;
  background-color: #f1c50e;
  width:100%;
  height: 242px;
  z-index: -1;
}

.wrapperSection-7 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(10,1fr);
  gap: 30px;
  max-width: 1040px;
  margin: auto;
}

.cardQuote {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 15px;
}

.cardQuote__circle {
  display: flex;
  overflow: hidden;
  border-radius: 100%;
  width:60px;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
}

.cardQuote__img {
  box-sizing: border-box;
  width:100%;
}

.cardQuote__quote {
  margin: 20px 0 0;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  line-height: calc(20px*1.6);
}

.cardQuote__name {
  margin: 20px 0 0;
  font-size: 17px;
  font-weight: normal;
  line-height: calc(17px*1.2);
}

.cardQuote__profession {
  margin: 2px 0 60px;
  font-size: 17px;
  font-weight: bold;
  line-height: calc(17px*1.2);
}

@media screen and (min-width: 768px) {
  .cardQuote:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 8;
  }

  .cardQuote:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 11;
  }

  .cardQuote:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 8;
  }
}

@media screen and (max-width: 1050px) {
  .cardQuote__circle {
    margin-top: 15px;
  }

  .cardQuote__profession {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 991px) {
  .section-7 {
    padding: 60px 24px;
  }
}

@media screen and (max-width: 910px) {
  .cardQuote {
    padding:30px 20px;
  }

  .cardQuote__circle {
    margin-top: 0;
  }

  .cardQuote__profession {
    margin-bottom: 0;
  }

  .cardQuote__quote {
    font-size: 18px;
    line-height: calc(18px*1.6);
  }

}

@media screen and (max-width: 767px) {
  .section-7 {
    padding: 60px 18px;
  }

  .wrapperSection-7 {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
  }

  .section-7__rectangle {
    height: 610px;
    top:135px;
  }
}
